* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #0818a8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: antiquewhite;
}

.subheader {
  height: 55px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 25px;
}

.my-blue {
  background-color: #3347ff;
}

.full-opacity {
  opacity: 100%;
}
.clear-footer {
  height: 90px;
  background-color: transparent;
}
.translucid {
  opacity: 75%;
  background: transparent;
  border: none;
}

.gold {
  color: rgb(245, 217, 94);
  font-weight: bolder;
  font-size: 34px;
  margin-left: 10px;
  text-shadow: white;
}

.goldie {
  color: #f5c418;
}

.golden {
  background-color: #f5c418;
}

.highlighted span {
  font-weight: bolder;
}
