* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #0818a8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: antiquewhite;
}
.search-box {
  background-color: antiquewhite;
  opacity: 90%;
}

.logo {
  margin-top: 0;
  padding-top: 0;
  height: 60px;
}

.my-blue {
  background-color: #3347ff;
}

.full-opacity {
  opacity: 100%;
}
.clear-footer {
  height: 90px;
  background-color: transparent;
}
.translucid {
  opacity: 75%;
  background: transparent;
  border: none;
}

.gold {
  color: rgb(245, 217, 94);
  font-weight: bolder;
  font-size: 34px;
  margin-left: 10px;
  text-shadow: white;
}

.goldie {
  color: #f5c418;
}

.golden {
  background-color: #f5c418;
}

.highlighted span {
  font-weight: bolder;
}
